.referrer= "Referral Link: #{@referrer}"

marquee direction="down" height="500" behavior="alternate" style="border: solid; margin: auto;"
  marquee behavior="alternate" We love Tim's World Wide Web and so should you!
