html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $dark-bg;
  margin: 0;
  height: 100%;
}

.page {
  width: 50%;
  margin: auto;
  background-color: $light-bg;
  padding: 20px;
  height: 100%;
}

.header {
  margin: auto;
  padding: 10px 20px;
  width: 50%;
  background-color: $primary;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  display: inline-block;
  position: relative;
  background-image: image-url("logo.png");
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: center;
  height: 48px;
  width: 48px;
  left: -7px;
}

.logo-name {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
